Repository nickbaldwin/marks: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

update config
  package-lock.json
  vite.config.ts
Due: npm run lint, npm run format

initial readme
  README.md
Due: none

readme updated
  README.md
Due: none

test config
  README.md
  global.d.ts
  package-lock.json
  package.json
  src/newtab/Content.tsx
  src/popup/PC.tsx
  src/store/schema.ts
  src/store/store.ts
  src/testSetup/testSetup.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint, npm run format

collections updates
  src/popup/AddCollection.tsx
  src/popup/Collections.tsx
  src/popup/Folders.tsx
Due: npm run lint, npm run format

working in dev and test
  package-lock.json
  package.json
  src/newtab/Content.test.tsx
  src/newtab/Content.tsx
  src/newtab/Mark.test.tsx
  src/newtab/Mark.tsx
  src/store/store.ts
  src/store/testStore.ts
  src/testSetup/ContentScriptForTest.test.tsx
  src/testSetup/ContentScriptForTest.tsx
  src/testSetup/IsChrome.tsx
  src/testSetup/testSetup.test.tsx
  src/testSetup/testSetup.ts
  src/testSetup/testUtils.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run lint, npm run format

interactive test with stateful component
  src/newtab/Content.tsx
  src/testSetup/ContentScriptForTest.test.tsx
Due: npm run lint, npm run format

ignore any and first action pulled out of state
  src/content-script.tsx
  src/newtab/Content.tsx
  src/popup.tsx
  src/popup/AddCollection.tsx
  src/popup/Collections.tsx
  src/popup/Folders.tsx
  src/popup/PC.tsx
  src/store/store.ts
  src/testSetup/testSetup.ts
  src/testSetup/testUtils.tsx
Due: npm run lint, npm run format

install react-testing hooks
  package-lock.json
  package.json
Due: npm run format

test state actions
  src/store/storeActionFunctions.test.ts
Due: npm run lint, npm run format

extract includeChromeStore
  src/store/includeChromeStore.ts
  src/store/store.ts
Due: npm run lint, npm run format

store more reusable
  src/store/store.ts
Due: npm run lint, npm run format

react 18 render
  src/content-script.tsx
Due: npm run lint, npm run format

updated ref names
  src/newtab/Content.tsx
  src/popup/PC.tsx
Due: npm run lint, npm run format

test store behaviour
  src/store/store.test.ts
  src/testSetup/ContentScriptForTest.test.tsx
Due: npm run lint, npm run format

extracted testStoreCreator
  src/store/store.test.ts
  src/testSetup/testSetup.ts
Due: npm run lint, npm run format

immer installed and used for folder actions
  package-lock.json
  package.json
  src/store/store.test.ts
  src/store/store.ts
  src/store/storeActionFunctions.test.ts
Due: npm run lint, npm run format

add folders, collections and marks working
  src/newtab/Content.tsx
  src/popup/Collections.tsx
  src/store/schema.ts
  src/store/store.test.ts
  src/store/store.ts
  src/testSetup/testSetup.ts
Due: npm run lint, npm run format

basic working
  package.json
  src/elements/AddCollectionToFolder.test.tsx
  src/elements/AddCollectionToFolder.tsx
  src/newtab/Content.tsx
  src/popup/Collections.tsx
  src/store/includeChromeStore.ts
  src/store/store.test.ts
  src/store/store.ts
  src/store/storeWrappers.test.tsx
  src/store/storeWrappers.ts
  src/store/testStore.ts
  src/testSetup/ContentScriptForTest.test.tsx
  src/testSetup/testSetup.test.tsx
  src/testSetup/testSetup.ts
  tsconfig.json
Due: npm run lint, npm run format

fixed leaking test store
  src/store/store.test.ts
  src/store/store.ts
  src/testSetup/testSetup.ts
Due: npm run lint, npm run format

lint errors
  src/store/store.test.ts
  src/store/store.ts
  src/testSetup/testSetup.test.tsx
Due: npm run lint, npm run format

installed reat-router-dom
  package-lock.json
  package.json
Due: npm run format

tidied store test files
  src/store/store.test.ts
  src/store/storeWrappers.ts
  src/testSetup/testSetup.ts
Due: npm run lint, npm run format

Main page with sidebar and routing to folders
  src/content-script.tsx
  src/elements/AddFolder.tsx
  src/newtab/Content.css
  src/newtab/Content.tsx
  src/newtab/Error.tsx
  src/newtab/FolderPage.tsx
  src/newtab/RoutedContent.tsx
  src/newtab/Sidebar.tsx
Due: npm run lint, npm run format

basic styles for marks in page
  src/newtab/Content.css
  src/newtab/FolderPage.tsx
  src/newtab/Mark.tsx
Due: npm run lint, npm run format

tidied tests
  src/newtab/Content.css
  src/newtab/RoutedContent.test.tsx
  src/store/store.test.ts
  src/testSetup/ContentScriptForTest.test.tsx
Due: npm run lint, npm run format

removed @testing-library/react-hooks - renderhook in t-l-r used instead
  package-lock.json
  package.json
Due: npm run format

tailwind installed
  package-lock.json
  package.json
  postcss.config.js
  src/newtab/Content.css
  src/newtab/Mark.tsx
  tailwind.config.js
Due: npm run lint, npm run format

theme working and basic cards used for marks
  src/content.html
  src/newtab/Content.css
  src/newtab/FolderPage.tsx
  src/newtab/Mark.tsx
  src/popup.html
  tailwind.config.js
Due: npm run lint, npm run format

css file formating
  src/newtab/Content.css
Due: none

open tab in new window
  src/newtab/Mark.tsx
  tailwind.config.js
Due: npm run lint, npm run format

installed dnd-kit
  package-lock.json
  package.json
Due: npm run format

installed dnd-kit core
  package-lock.json
  package.json
Due: npm run format

made collection draggable
  src/newtab/CollectionDisplay.tsx
  src/newtab/FolderPage.tsx
Due: npm run lint, npm run format

drag collections
  src/newtab/CollectionDisplay.tsx
  src/newtab/FolderPage.tsx
Due: npm run lint, npm run format

added new move collection action and removed ref to tl/react-hooks
  src/store/store.ts
  src/testSetup/testSetup.ts
Due: npm run lint, npm run format

persisting drag move of collections
  src/newtab/FolderPage.tsx
  src/store/store.test.ts
  src/store/store.ts
Due: npm run lint, npm run format

await async actions in store tests
  src/store/store.test.ts
Due: npm run lint, npm run format

renamed CollectionContainer
  src/newtab/CollectionContainer.tsx
  src/newtab/FolderPage.tsx
Due: npm run lint, npm run format

ui for icons
  src/icons/TrashIcon.tsx
  src/newtab/CollectionContainer.tsx
  src/newtab/Content.css
  src/newtab/FolderPage.tsx
  src/newtab/Mark.tsx
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
